<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Dashboard</div>
    <div class="panel-body">
     <p class="lead">This is a sample JWT Tokens Authentication Web App, include support to login with Facebook and Google </p>

    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-default" href="https://github.com/sahat/satellizer"><i class="ion-social-github"></i> GitHub project</a>
    <a class="btn btn-default" href="https://github.com/sahat/satellizer/issues/new"><i class="ion-bug"></i> Report issue</a>
  </div>
</div>